.portfolio-container {
   display: inline-block;
   justify-content: center;
   text-align: justify;
   width: 400px;
   height: 225px;
   margin-left: 1%;
   margin: 1% auto;
}

.text-center {
   text-align: center;
}

.inner,
color-white {
   color: white;
}

#black {
   color: black;
   border-color: black;
}

.box-container {
   font-family: 'Poppins';
   align-items: flex-start;
   font-weight: 500;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   padding: 2px 2px;
   width: 100%;
}

.box-item {
   position: relative;
   flex-wrap: wrap;
   width: 130px;
   margin-bottom: 3px;
   max-width: 100%;
}

.flip-box {
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
   perspective: 1000px;
   -webkit-perspective: 1000px;
}

.flip-box:hover {
   cursor: pointer;
}

.flip-box-front,
.flip-box-back {
   background-size: cover;
   background-position: center;
   border-radius: 6px;
   min-height: 155px;
   -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
   transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
   -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.flip-box-front {
   -ms-transform: rotateY(0deg);
   -webkit-transform: rotateY(0deg);
   transform: rotateY(0deg);
   -webkit-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.flip-box.is-flipped .flip-box-front {
   -ms-transform: rotateY(-180deg);
   -webkit-transform: rotateY(-180deg);
   transform: rotateY(-180deg);
   -webkit-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.flip-box-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   -ms-transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   transform: rotateY(180deg);
   -webkit-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.flip-box.is-flipped .flip-box-back {
   -ms-transform: rotateY(0deg);
   -webkit-transform: rotateY(0deg);
   transform: rotateY(0deg);
   -webkit-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
}

.flip-box .inner {
   position: absolute;
   left: 0;
   width: 100%;
   padding: 0px;
   outline: 1px solid transparent;
   -webkit-perspective: inherit;
   perspective: inherit;
   z-index: 2;
   transform: translateY(-50%) translateZ(60px) scale(.94);
   -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
   -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
   top: 50%;
}

.flip-box-header {
   font-size: 22px;
   font-weight: 500;
}

.flip-box p {
   font-size: 11px;
   line-height: 1.5em;
   font-weight: 600;
}

.flip-box-img {
   margin-top: 4px;
}

.flip-box-button {
   background-color: transparent;
   border: 2px solid #fff;
   border-radius: 2px;
   color: #fff;
   cursor: pointer;
   font-size: 10px;
   font-weight: 600;
   margin-top: 15px;
   padding: 10px 10px;
   text-transform: uppercase;
}

#black-button{
   background-color: transparent;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 2px;
   color: rgb(0, 0, 0);
   cursor: pointer;
   font-size: 10px;
   font-weight: 600;
   margin-top: 15px;
   padding: 10px 10px;
   text-transform: uppercase;
}

a {
   /* display: inline-flex; */
   color: white;
}

.port-icons{
   display: flex;
   justify-content: center;
   width: 100%;
}