html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(213, 234, 252),rgb(146, 201, 211));

}

.component-container{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(49, 2fr);
  grid-template-rows: repeat(49, 2fr);
}
.three{
  grid-column: 1/ span 49;
  grid-row: 1/ span 49;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(213, 234, 252),rgb(146, 201, 211));
  opacity: .25;
}
        